<!-- -*- mode: XML -*- -->

<launch>
    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find dynamixel_tutorials)/config/dynamixel_joint_controllers.yaml" command="load"/>
    
    <!-- start specified joint controllers -->
    <node name="dynamixel_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port=pan_tilt_port
                --type=simple
                hand_30
                hand_31
                hand_32
                hand_33
                hand_34
                hand_35
                hand_36
                hand_37
                hand_38
                hand_40
                hand_41
                hand_42
                hand_43
                hand_44
                hand_45
                hand_46
                hand_47
                hand_48"
          output="screen"/>
</launch>
